<html>
    <h1>Add New Question</h1>
    <div class ="row>">
        <div class = "col-md-4">
            <p>Guidelines</p>
            <ul>
                <li>There are no dumb questions</li>
            </ul>
        </div>
    </div>
    <div class = "col-md-8">
        <%= form_for @question do |q| %>
        <div class = "form-group">
            <%= q.label :title %>
            <%= q.text_field :title, class: 'form-control', placeholder: 'Enter Question Title' %>
        </div>
        <div class= "form-group">
            <%= q.label :body %>
            <%= q.text_field :body, class: 'form-control', placeholder: 'Enter Question' %>
        </div>
        <div class= "form-group">
            <%= q.label :resolved %>
            <%= q.check_box :resolved %>
        </div>
        <div class="form-group">
            <%=q.submit "Save", class: 'btn btn-success'%>
        </div>
        <% end %>
    </div>
    
</html> 